body{
    background: radial-gradient(var(--random-green),var(--tea-grean));
    display: flex;
    justify-content: center;
    align-content: center;
    height: 241px;
    text-align: center;
    border-radius: 10px;
}