:root {
    --main-bg-color: #FEFAE0;
    --tea-grean: #CCD5AE;
    --random-green: #E9EDC9;
    --light-brown: #FAEDCD;
    --dark-brown: #D4A373;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: radial-gradient(var(--random-green), var(--main-bg-color));
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
}

nav {
    background-color: var(--tea-grean);
    height: 50px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

#passwordContainer {
    background-color: burlywood;
    display: grid;
    position: relative;
    height: 75px;
    margin: 20px 50px;
    border-radius: 10px;
    grid-template-columns: 200px 300px repeat(3, 10%);
    grid-template-rows: 1fr 1fr;
}

#headerPasswordContainer, #footerPasswordContainer {
    display: contents;
}

#headerPasswordContainer > span, #footerPasswordContainer > span {
    justify-self: center;
    padding-top: 10px;
}

.appName{
    grid-column: 1 / 2;
}

.appEmail{
    grid-column: 2 / 3;
}

.appPassword{
    grid-column-start: 2;
}

.editButton, .seePassword{
    grid-column-start: 4;
}

#addPassword{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60%;
    width: 40%;
    background-color: var(--light-brown);
    border-radius: 10px;
    box-shadow: 0 0 0 max(100vh, 100vw) rgba(0, 0, 0, 0.7);
}

#addPassword-header{
    display: flex;
    border-radius: 10px 10px 0px 0px;
    justify-content: space-between;
    padding: 0px 10px;
    background-color: var(--dark-brown) ;
}

#addPassword-header h4{
    font-size: larger;
}

#addPassword-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.addPassword-body-input{
    width: 80%;
    margin: 10px 0px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: large;
}