:root {
    --main-bg-color: #FEFAE0;
    --tea-grean: #CCD5AE;
    --random-green: #E9EDC9;
    --light-brown: #FAEDCD;
    --dark-brown: #D4A373;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: radial-gradient(var(--random-green), var(--main-bg-color));
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
}

main{
}

nav {
    background-color: var(--tea-grean);
    height: 50px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

#passwordContainer {
    background-color: burlywood;
    display: grid;
    position: relative;
    height: 75px;
    margin: 20px 50px;
    border-radius: 10px;
    grid-template-columns: 200px 300px repeat(3, 10%);
    grid-template-rows: 1fr 1fr;
}

#headerPasswordContainer, #footerPasswordContainer {
    display: contents;
}

#headerPasswordContainer > span, #footerPasswordContainer > span {
    justify-self: center;
    padding-top: 10px;
}

.appName{
    grid-column: 1 / 2;
}

.appEmail{
    grid-column: 2 / 3;
}

.appPassword{
    grid-column-start: 2;
}

.editButton, .seePassword{
    grid-column-start: 4;
}